.bgn-type-bug {
    background: linear-gradient(135deg, rgba(28, 75, 39), rgba(59, 153, 80), rgba(28, 75, 39));
}

.bgn-type-dark {
    background: linear-gradient(135deg,  rgba(4, 7, 4), rgba(90, 89, 121),  rgba(4, 7, 4));
}

.bgn-type-dragon {
    background: linear-gradient(135deg,  rgba(68, 139, 149), rgba(96, 202, 215),  rgba(68, 139, 149));
}

.bgn-type-electric {
    background: linear-gradient(135deg,  rgba(227, 227, 43), rgba(251, 251, 112),  rgba(227, 227, 43));
}

.bgn-type-fairy {
    background: linear-gradient(135deg,  rgba(151, 25, 68), rgba(234, 19, 105),  rgba(151, 25, 68));
}

.bgn-type-fighting {
    background: linear-gradient(135deg, rgba(153, 64, 34), rgba(239, 97, 56), rgba(153, 64, 34));
}

.bgn-type-fire {
    background: linear-gradient(135deg, rgba(171, 31, 35), rgba(253, 76, 90), rgba(171, 31, 35));
}

.bgn-type-flying {
    background: linear-gradient(135deg, rgba(74, 103, 125), rgba(147, 178, 199), rgba(74, 103, 125));
}

.bgn-type-ghost {
    background: linear-gradient(135deg, rgba(51, 51, 107), rgba(144, 103, 144), rgba(51, 51, 107));
}

.bgn-type-grass {
    background: linear-gradient(135deg, rgba(22, 122, 59), rgba(39, 203, 79), rgba(22, 122, 59));
}

.bgn-type-ground {
    background: linear-gradient(135deg, rgba(110, 73, 31), rgba(169, 112, 44), rgba(110, 73, 31));
}

.bgn-type-ice {
    background: linear-gradient(135deg, rgba(134, 210, 245),  rgba(215, 241, 250), rgba(134, 210, 245));
}

.bgn-type-normal {
    background: linear-gradient(135deg, rgba(117, 81, 91),  rgba(202, 152, 167), rgba(117, 81, 91));
}

.bgn-type-poison {
    background: linear-gradient(135deg, rgba(94, 45, 136),  rgba(155, 105, 217), rgba(94, 45, 136));
}

.bgn-type-psychic {
    background: linear-gradient(135deg, rgba(163, 41, 107),  rgba(248, 28, 145), rgba(163, 41, 107));
}

.bgn-type-rock {
    background: linear-gradient(135deg, rgba(72, 24, 11),  rgba(139, 62, 33), rgba(72, 24, 11));
}

.bgn-type-steel {
    background: linear-gradient(135deg, rgba(95, 117, 109),  rgba(66, 189, 148), rgba(95, 117, 109));
}

.bgn-type-water {
    background: linear-gradient(135deg, rgba(21, 82, 226),  rgba(134, 168, 254), rgba(21, 82, 226));
}




/* slot-colors */




.bgn-slot-type-bug {
    background-color: rgba(59, 153, 80);
}

.bgn-slot-type-dark {
    background-color: rgba(90, 89, 121);
}

.bgn-slot-type-dragon {
    background-color: rgba(68, 139, 149);
}

.bgn-slot-type-electric {
    background-color: rgba(227, 227, 43);
}

.bgn-slot-type-fairy {
    background-color: rgba(151, 25, 68);
}

.bgn-slot-type-fighting {
    background-color: rgba(153, 64, 34);
}

.bgn-slot-type-fire {
    background-color: rgba(171, 31, 35);
}

.bgn-slot-type-flying {
    background-color: rgba(74, 103, 125);
}

.bgn-slot-type-ghost {
    background-color: rgba(51, 51, 107);
}

.bgn-slot-type-grass {
    background-color: rgba(22, 122, 59);
}

.bgn-slot-type-ground {
    background-color: rgba(169, 112, 44);
}

.bgn-slot-type-ice {
    background-color: rgba(134, 210, 245);
}

.bgn-slot-type-normal {
    background-color: rgba(117, 81, 91);
}

.bgn-slot-type-poison {
    background-color: rgba(94, 45, 136);
}

.bgn-slot-type-psychic {
    background-color: rgba(163, 41, 107);
}

.bgn-slot-type-rock {
    background-color: rgba(72, 24, 11);
}

.bgn-slot-type-steel {
    background-color: rgba(95, 117, 109);
}

.bgn-slot-type-water {
    background-color: rgba(21, 82, 226);
}


/* hover colors */


.bgn-hover-type-bug {
    background-color: rgba(28, 75, 39, 0.8);
}

.bgn-hover-type-dark {
    background-color: rgba(4, 7, 4, 0.7);
}

.bgn-hover-type-dragon {
    background-color: rgba(96, 202, 215, 0.7);
}

.bgn-hover-type-electric {
    background-color: rgba(251, 251, 112, 0.7);
}

.bgn-hover-type-fairy {
    background-color: rgba(234, 19, 105, 0.7);
}

.bgn-hover-type-fighting {
    background-color: rgba(239, 97, 56, 0.7);
}

.bgn-hover-type-fire {
    background-color: rgba(253, 76, 90, 0.7);
}

.bgn-hover-type-flying {
    background-color: rgba(147, 178, 199, 0.7);
}

.bgn-hover-type-ghost {
    background-color: rgba(144, 103, 144, 0.7);
}

.bgn-hover-type-grass {
    background-color: rgba(39, 203, 79, 0.7);
}

.bgn-hover-type-ground {
    background-color: rgba(110, 73, 31, 0.7);
}

.bgn-hover-type-ice {
    background-color: rgba(215, 241, 250, 0.7);
}

.bgn-hover-type-normal {
    background-color: rgba(202, 152, 167, 0.7);
}

.bgn-hover-type-poison {
    background-color: rgba(155, 105, 217, 0.7);
}

.bgn-hover-type-psychic {
    background-color: rgba(248, 28, 145, 0.7);
}

.bgn-hover-type-rock {
    background-color: rgba(139, 62, 33, 0.7);
}

.bgn-hover-type-steel {
    background-color: rgba(66, 189, 148, 0.7);
}

.bgn-hover-type-water {
    background-color: rgba(134, 168, 254, 0.7);
}