body {
    margin: 0px;
    font-family: 'Bangers';
    display: flex;
    flex-direction: column;
}

.header {
    position: fixed;
    z-index: 1;
    width: 100%;
    color: rgba(234, 19, 105);
    background-color: rgba(0,0,0,0.2);
    letter-spacing: 2px;
    display: flex;
    justify-content: start;
}

.myPlace {
    margin-top: 100px;
    display: grid;
    /* justify-content: center; */
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 8px;
}

.pokeMini {
    border-radius: 15px;
    padding: 8px;
    letter-spacing: 1px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.2);
}

.pokeMiniImgDiv {
    height: 100px;
    width: 100px;
}

.pokeMiniImgDiv img {
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.pokeMini1stLine{
    display: flex;
    gap: 8px;
}