body {
    margin: 0px;
    font-family: 'Noto Sans';
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.display-none {
    display: none !important;
}

.display-flex {
    display: flex;
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    /* height: 100vh; */
    background-color: rgb(219, 219, 219);
}

h1 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.pokedex-all {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    width: 480px;
    overflow-x: clip;
}

.pokedex {
    position: absolute;
    top: 0px;
    width: 480px;
    transition: transform 225ms ease-in-out;
}

.transition225 {
    transition: transform 225ms ease-in-out !important;
}

.transition200 {
    transition: transform 200ms ease-in-out !important;
}

.transition150 {
    transition: transform 150ms ease-in-out !important;
}

.transition75 {
    transition: transform 75ms ease-in-out !important;
}

.transition0 {
    transition: transform 0ms ease-in-out !important;
}


.pokedex-nav {
    display: flex;
    justify-content: space-between;
}

.pokedex-nav input {
    width: 25%;
}

.search {
    display: flex;
    justify-content: center;
}

.pokedexBgn {
    background-color: white;
}

.pokedex-top {
    margin-top: 16px;
    margin-right: 32px;
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    color: white;
    letter-spacing: 0.125px;
    height: 50vh;
    padding: 16px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

#pokeImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#pokeImg img {
    height: 240px;
    object-fit: contain;
}

.pokedex-above {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pokedex-bottom {
    background-color: white;
    margin-top: -30px;
    margin-left: 32px;
    margin-right: 32px;
    padding: 16px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-top: 96px;
}


@media (max-width: 480px) {
    .pokedex {
        width: 100%;
    }


    .pokedex-top {
        margin-left: 16px;
        margin-right: 16px;
    }

    .pokedex-bottom {
        margin-left: 16px;
        margin-right: 16px;
    }
}

@media (max-width: 600px) {
    .pokedex-top {
        margin-left: 32px;
        margin-right: 32px;
    }

    .pokedex-bottom {
        margin-left: 32px;
        margin-right: 32px;
    }
}

.pokedex-slots {
    display: flex;
}

.slot {
    padding: 8px;
    margin-right: 8px;
    border-radius: 10px 10px 10px 10px;
}

.color-black {
    color: black !important;
}


.progress-bar {
    display: flex;
    align-items: center;
    min-height: 7px;
    background-color: rgb(119, 119, 119);
    border-radius: 5px;
}

.progress {
    border-radius: 5px;
    height: 100%;
    background-color: white;
}

.pokedex-name::first-letter {
    text-transform: capitalize;
}

.loadLine {
    display: flex;
    justify-content: space-between;
}

.pokedex-id {
    font-size: 32px;
}

.left-buttons {
    display: flex;
}

.right-buttons {
    display: flex;
}

/* .bottom-nav {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
}

.bottom-nav-slide {
    width: 25%;
    text-align: center;
} */

.navigation {
    margin-top: 48px;
    /* padding-right: 16px; */
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.navigation button {
    border: none;
    border-radius: 10px;
    /* background-color: rgba(66, 0, 151, 0.7); */
    cursor: pointer;
    height: 54px;
    width: 86px;
    color: white;
    /* color: rgba(0, 0, 0, 1.0); */
    font-size: 16px;
    /* font-weight: bold; */
    letter-spacing: 0.25px;
}

/* .navigation button:hover {
    background-color: rgba(119, 119, 119, 0.95);
    
} */

.bgn-slide-active {
    background-color: aqua !important;
}

.cards {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.slot-line {
    display: flex;
    justify-content: space-between;
}

.favorite {
    display: flex;
    align-items: center;

    /* overflow: hidden; */
}

.favorite img {
    height: 24px;
    width: 24px;
    /* object-fit: contain; */
}

.btn-fav {
    display: flex;
    border: none;
    cursor: pointer;
    /* background-color: violet; */
    margin: 0px;
    padding: 0px;
    /* border-radius: 100%; */
}

.stats-line {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.progess-stats-line {
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 7px;
    width: 48%;
    background-color: rgb(119, 119, 119, 0.2);
}

.progress-stats {
    border-radius: 5px;
    height: 7px;
    background-color: red;
}

.stat {
    display: flex;
    justify-content: space-between;
    width: 48%;
}