body {
    margin: 0px;
    font-family: 'Noto Sans';
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display-none {
    display: none !important;
}

.display-flex {
    display: flex;
}

h1 {
    margin-top: 8px;
    margin-bottom: 24px;
}

.content {
    position: relative;
    display: flex;
    align-items: start;
    width: 480px;
    min-height: 100vh;
}


.pokedex-all {
    position: absolute;
    margin-top: 16px;
    width: 480px;
    overflow-x: clip;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

@media (max-width: 480px) {
    .pokedex-all {
        width: 100%;
    }
}

.pokedex {
    position: absolute;
    top: 0px;
    width: 480px;
    transition: transform 225ms ease-in-out;
}

.transition225 {
    transition: transform 225ms ease-in-out !important;
}

.transition200 {
    transition: transform 200ms ease-in-out !important;
}

.transition150 {
    transition: transform 150ms ease-in-out !important;
}

.transition75 {
    transition: transform 75ms ease-in-out !important;
}

.transition0 {
    transition: transform 0ms ease-in-out !important;
}

.pokedex-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

@media (max-width: 480px) {
    .pokedex-nav {
        flex-direction: column;
        align-items: center;
    }
    
}

.pokedex-nav input {
    width: 75%;
    outline: none;
}

.search {
    width: 33.333333%;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 480px) {
    .search {
        width: 100%;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    
}

.search button {
    font-family: 'Noto Sans';
    font-size: 16px;
    letter-spacing: 0.05;
    padding: 4px;
    cursor: pointer;
    border: none;
    border-radius: 0px 5px 5px 0px;
    background-color: rgba(251, 251, 251, 0.8);
}

.search button:hover {
    background-color: rgba(251, 251, 251, 0.9);
}

.search input {
    font-family: 'Noto Sans';
    font-size: 16px;
    padding: 4px;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

.pokedexBgn {
    background-color: white;
}

.pokedex-top {
    margin-top: 16px;
    margin-right: 32px;
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    color: white;
    letter-spacing: 0.125px;
    padding: 16px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

#pokeImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#pokeImg img {
    height: 240px;
    object-fit: contain;
}

.pokedex-above {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pokedex-bottom {
    background-color: white;
    margin-top: -30px;
    margin-left: 32px;
    margin-right: 32px;
    padding: 16px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-radius: 30px;
    padding-top: 48px;
    /* min-height: 400px; */
}

@media (max-width: 480px) {
    .pokedex {
        width: 100%;
    }
    
    .pokedex-top {
        margin-left: 8px;
        margin-right: 8px;
    }

    .pokedex-bottom {
        margin-left: 8px;
        margin-right: 8px;
    }
}

.pokedex-slots {
    display: flex;
}

.slot {
    padding: 8px;
    margin-right: 8px;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color-black {
    color: black !important;
}

.progress-bar {
    display: flex;
    align-items: center;
    min-height: 7px;
    background-color: rgb(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.progress {
    border-radius: 5px;
    height: 7px;
    background-color: rgba(0, 0, 0, 0.5);
}

.pokedex-name::first-letter {
    text-transform: capitalize;
}

.loadLine {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.loadLine button {
    height: 40px;
    width: 40px;
    padding: 8px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: 'Noto Sans';
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loadLine button:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.pokedex-id {
    font-size: 32px;
    margin-top: 8px;
    margin-bottom: 8px
}

@media (max-width: 300px) {
    .pokedex-above {
        justify-content: center;
    }

}

.left-buttons {
    display: flex;
}

.right-buttons {
    display: flex;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
}

.navigation button {
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 54px;
    width: 86px;
    color: white;
    font-size: 16px;
    letter-spacing: 0.25px;
}

@media (max-width: 480px) {
    .navigation {
        justify-content: center;
    }
}

.bgn-slide-active {
    background-color: aqua !important;
}

.cards {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.slot-line {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.favorite {
    display: flex;
    align-items: center;
}

.favorite img {
    height: 40px;
    width: 40px;
    margin-bottom: 8px;
    padding: 4px;
    border-radius: 5px;
}

.btn-fav {
    display: flex;
    border: none;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
}

.stats-line {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 300px) {
    .slot {
        margin-left: 8px;
    }
    
    .slot-line {
        margin-top: 8px;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .stats-line {
        margin-top: 8px;
        flex-direction: column;
    }
}

.progess-stats-line {
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 7px;
    width: 48%;
    background-color: rgb(119, 119, 119, 0.2);
}

.progress-stats {
    border-radius: 5px;
    height: 7px;
    background-color: red;
}

.stat {
    display: flex;
    justify-content: space-between;
    width: 48%;
}

@media (max-width: 480px) {
    .stat {
        width: 100%;
    }
    
    .progess-stats-line {
        width: 100%;
    }
}

.pokedex-control {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    padding: 15px;
    border: solid 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-bottom: 16px;
}

.left-buttons {
    width: 33.333333%;
    gap: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.left-buttons button {
    padding: 0px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: rgba(251, 251, 251, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-buttons button img {
    height: 40px;
    width: 40px;
}

.right-buttons {
    width: 33.333333%;
    gap: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.right-buttons button {
    height: 40px;
    width: 40px;
    padding: 0px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: rgba(251, 251, 251, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-control:hover {
    background-color: rgba(251, 251, 251, 0.9);
}

@media (max-width: 400px) {
    .left-buttons {
        width: 100%;
        justify-content: center;
    }
    
    .right-buttons {
        width: 100%;
        justify-content: center;
    }
}

.right-buttons button img {
    height: 40px;
    width: 40px;
}

.searchByName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.searchByName input {
    outline: none;
    font-family: 'Noto Sans';
    font-size: 16px;
    padding: 4px;
    border: none;
    border-radius: 5px;
    margin-top: 8px;
    width: 100%;
}

.evol-name-line {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.evol-name {
    width: 74%;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 480px) {
    .evol-name-line {
        flex-direction: column;
    }
    
    .evol-name {
        width: 100%;
    }
}

.btn-back {
    height: 48px;
    width: 48px;
    margin-bottom: 8px;
    padding: 8px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: rgba(251, 251, 251, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-back:hover {
    background-color: rgba(251, 251, 251, 0.9);
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    color: white;
    background-color: rgb(173, 173, 173);
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
    z-index: 2;
}


#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#myBtn:hover {
    background-color: #555;
}


@media (max-width: 500px) {
    .content {
        width: 95%;
    }
}