.pokeMinis-all {
    border-radius: 30px;
    background-color: white;
    position: relative;
    margin-top: 280px;
    width: 581px;
    overflow-x: clip;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 85vh;
    padding: 16px;
    border: solid 5px rgba(0, 0, 0, 0.8);
    padding: 16px;
}

.miniHeader {
    position: fixed;
    top: 16px;
    color: white;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    letter-spacing: 0.05px;
    width: 600px;
}

@media (max-width: 650px) {
    .miniHeader {
        width: 95%;
    }
}

.miniPokes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.mini-poke-card {
    border-radius: 15px;
    padding: 8px;
    display: flex;
    border: solid 5px rgba(0, 0, 0, 0.2);
}

.mini-poke-card div {
    font-size: 24px;
    letter-spacing: 0.05px;
}

.mini-poke-card button {
    border: none;
    cursor: pointer;
    background: none;
    border-radius: 10px;
    font-size: 20px;
    color: white;
}

.mini-poke-card:hover button {
    background-color: rgba(251, 251, 251, 0.08);
}

.mini-poke-img-place {
    display: flex;
}

.mini-poke-img-place img {
    display: flex;
    width: 160px;
}

.pokeMinis {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.pokeMini {
    display: flex;
    max-width: 200px;
    height: 100px;
}

.pokeMini button {
    width: 200px;
    gap: 8px;
    padding: 8px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokeMiniImg {
    display: flex;
    height: 50px;
    width: 100px;
}

.pokeMiniImg image {
    object-fit: contain;
    height: 50px;
    width: 100px;
}

.pokedex-top-MiniAll {
    display: flex;
    flex-direction: column;
    color: white;
    letter-spacing: 0.125px;
    font-size: 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
}